<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#A5C9CA" />

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  
  <title>Sushi Bon</title>
</head>
<body>
  <a href="#content" class="skip-content">Skip to content</a>

  <!-- App Bar (Navigation Bar) -->
  <header class="navbar-area">
    <app-bar></app-bar>
  </header>

  <!-- Daftar Restoran -->
  <main id="content" tabindex="0"></main>
  
  <!-- Footer -->
  <footer>
      <p>Copyright © 2022, Menjadi Front-End Web Developer Expert by Nely Dwi Agustin</p>
  </footer>
</body>
</html>
