@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-size: 12px;
	color: #424242;
}

main {
	width: 100%;
	margin: 0 auto;
}

// App Bar (Navigation Bar)
.navbar-area {
	background: whitesmoke;
	border-bottom: 1px solid #000;
	padding: 0 2em;
}
.site-logo {
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	height: 2em;
	padding-top: 0.3em;
}
.site-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		li {
			a {
			color: black;
			padding: 2em;
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.5em;
			}
			&:hover{
				background-color: #4b4b4b;
			}
		}
	}
}
.nav-toggler {
	border: 3px solid black;
	padding: 5px;
	background-color: transparent;
	cursor: pointer;
	height: 44px;
	width: 44px;
	display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
	width: 28px;
	height: 3px;
	background-color: black;
	display: block;
	transition: 0.3s;
}
.nav-toggler span:before {
	content: "";
	transform: translateY(-9px);
}
.nav-toggler span:after {
	content: "";
	transform: translateY(6px);
}
.nav-toggler.toggler-open span {
	background-color: transparent;
}
.nav-toggler.toggler-open span:before {
	transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
	transform: translateY(-3px) rotate(-45deg);
}

// Hero Element (Jumbotron Element)
.hero {
	align-items: center;
  position: relative;
	min-height: 380px;
	width: 100%;
	text-align: center;

  img {
    width: 100%;
    perspective: 4px;
    object-fit: cover;
    height: 380px;
  }

	.heroinner {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;

    .heroContent {
      padding: 0 50px;
      font-size: 15px;
      color: white;
      text-align: center;
      margin: auto;

      .herotitle {
        color: #fff;
        font-weight: 600;
        font-size: 50px;
        text-shadow: 1px 1px #141414;
      }
        
      .herosubtitle {
        color: #fff;
        margin-top: 16px;
        font-size: 18px;
        font-weight: 600;
        text-shadow: 1px 1px #141414;
      }
    }
	}
}

// Daftar Restoran dan Favorit
.content {
	padding: 32px;
	.latest {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 50px;
		text-align: center;
		h1 {
			font-weight: 700;
			font-size: 3em;
			margin-bottom: 50px;
		}
		a {
      text-decoration: none;
      color: #404040;
			h1 {
				font-weight: 700;
				font-size: 3em;
				margin-bottom: 50px;
			}
		}
		.list {
			margin: 32px auto auto;
			text-align: left;
			display: grid;
			grid-row-gap: 16px;
		.list_item {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			width: 100%;
			border-radius: 5px;
			overflow: hidden;
			position: relative;
			.list_item_thumb {
				width: 100%;
				max-height: 200px;
			}
			.list_item_content {
				padding: 16px;
			.list_item_rating {
				font-size: 16px;
				text-transform: uppercase;
				color: black;
				font-weight: 500;
			}
			.list_item_title {
				font-weight: 500;
				font-size: 16px;
				margin-top: 10px;
				transition: 0.3s opacity;
				&:hover {
					opacity: 0.5;
				}
				a {
					padding: 15px 0;
					text-decoration: none;
					color: inherit;
					min-width: 44px;
					min-height: 44px;
				}
			}
			.list_item_desc {
				margin-top: -30px;
				font-size: 12px;
				line-height: 1.5em;
			}
			}
			.city {
				position: absolute;
				top: 160px;
				right: 16px;
				border-radius: 5px;
				background-color: yellowgreen;
				padding: 5px 10px 5px;
				color: white;
				font-weight: 500;
			}
		}
		}
	}
}

footer {
	background-color: darkolivegreen;
	color: white;
	font-size: 14px;
	padding: 2em;
	width: 100%;
	text-align: center;
}

// Aksesibilitas Website
.skip-content {
	position: absolute;
	top: -100px;
	left: 0;
	background-color: #f21170;
	color: white;
	padding: 10px;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	&:focus {
		top: 100px;
	}
}

// Tombol Like
.like {
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	position: fixed;
	bottom: 16px;
	right: 16px;
	border-radius: 50%;
	border: 0;
	font-size: 1.5em;
	color: #E7F6F2;
	cursor: pointer;
	i {
	  color: darkolivegreen;
	}
}

// Halaman Detail Restoran
.resto-details {
  display: block;
  z-index: -1;

  p {
    line-height: 1.7;
    font-size: 1.15em;
  }

  h1 {
    font-size: 1.8em;
    color: black;
  }

  h2 {
    font-size: 1.4em;
    color: black;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 1.15em;
    color: black;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  ul {
    padding-inline-start: 24px;
  }

  li {
    line-height: 1.5;
  }
}

// Resto Info
.resto-info {
  display: block;
}

.description {
  padding: 24px;
  margin-top: 5px;
  margin-bottom: 16px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}

.desc-content {
  display: grid;
  gap: 16px;
}

.resto-img {
  padding-bottom: 56.2%;
  position: relative;
  z-index: -1;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    z-index: -1;
  }
}

.info {
  display: grid;
  margin-bottom: 16px;
  gap: 16px;
}

.main-info,
.resto-menus {
  padding: 24px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}

.main-info {
  h2 {
    margin-bottom: 16px;
  }
}

.menus {
  display: grid;
  gap: 16px;
}

// Resto review
.resto-review {
  display: block;
  padding: 24px;
  border-radius: 8px;
  overflow: hidden;
  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }
}

.review-item {
  padding: 8px 0;
  display: flex;
}

.reviewer-photo {
  margin-right: 8px;
}

.review-content,
form {
  display: block;
  padding: 16px;
  flex: 1;
  overflow: hidden;
  background-color: #f7f7f7;
  border-radius: 16px;
}

.review-name {
  font-weight: 700;
  line-height: 1.3;
}

.review-date {
  font-size: 0.8em;
  color: black;
}
